.git
.github
.idea
.vscode
.env
.env.example
.coverage
.pytest_cache
.dockerignore
__pycache__
venv
tests
images
data
htmlcov
*.md
*.egg-info
Makefile
pyproject.toml
requirements-dev.txt
run_local_docker.sh
build-and-push-docker-image.sh
scripts
