<!DOCTYPE html>
<html>
<head>
    <title>Appointments</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <!-- Include jQuery UI CSS from a CDN -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- Include jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Include jQuery UI from a CDN -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <!-- Initialize the datepicker -->
    <script>
        $(function () {
            $("#start_date").datepicker({
                dateFormat: "yy-mm-dd" // This format should match the value you're passing from Flask
            });
            $("#end_date").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script>
        function monitorDownload(cookieName) {
            var checkCookie = setInterval(function () {
                if (document.cookie.split(';').some((item) => item.trim().startsWith(cookieName + '='))) {
                    clearInterval(checkCookie);
                    document.cookie = cookieName + '=; Max-Age=-99999999;';  // delete the cookie
                    $('#spinner-overlay').hide();  // hide the spinner
                }
            }, 100); // check every 100ms
        }

        $(document).ready(function () {
            $('input[name="generate_jpeg"]').click(function () {
                // Show the spinner
                $('#spinner-overlay').show();
                // Start monitoring for the jpegGenerated cookie
                monitorDownload('jpegGenerated');
            });

            $('input[name="generate_pdf"]').click(function () {
                // Show the spinner
                $('#spinner-overlay').show();
                // Start monitoring for the pdfGenerated cookie
                monitorDownload('pdfGenerated');
            });
            $('input[name="fetch_appointments"]').click(function () {
                // Show the spinner
                $('#spinner-overlay').show();
                // Start monitoring for the pdfGenerated cookie
                monitorDownload('fetchAppointments');
            });
        });
    </script>
    <script>
        const alphaSlider = document.getElementById('alpha');
        const alphaValueDisplay = document.getElementById('alphaValue');

        alphaSlider.addEventListener('input', function() {
        alphaValueDisplay.textContent = this.value;
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const selectAllButton = document.getElementById('selectAllAppointments');
            const deselectAllButton = document.getElementById('deselectAllAppointments');
            const checkboxes = document.querySelectorAll('.appointment-checkbox');

            selectAllButton.addEventListener('click', function() {
                checkboxes.forEach(function(checkbox) {
                    checkbox.checked = true;
                });
            });

            deselectAllButton.addEventListener('click', function() {
                checkboxes.forEach(function(checkbox) {
                    checkbox.checked = false;
                });
            });
        });
    </script>
    <script>
        // Ensure the DOM is fully loaded
        document.addEventListener('DOMContentLoaded', function() {
            var applyButton = document.getElementById('applyPreset');
            var colorPresetsSelect = document.getElementById('color_presets');

            // Define presets
            var presets = {
                'preset1': {
                    'date_color': '#c1540c',
                    'description_color': '#4e4e4e',
                    'background_color': '#ffffff',
                    'background_alpha': 128
                },
                'preset2': {
                    // Add your preset2 values
                }
                // Add more presets as needed
            };

            // Event listener for the Apply button
            if (applyButton) {
                applyButton.addEventListener('click', function() {
                    var selectedPreset = colorPresetsSelect.value;
                    if (presets[selectedPreset]) {
                        document.getElementById('date_color').value = presets[selectedPreset].date_color;
                        document.getElementById('description_color').value = presets[selectedPreset].description_color;
                        document.getElementById('background_color').value = presets[selectedPreset].background_color;
                        document.getElementById('alpha').value = presets[selectedPreset].background_alpha;
                        document.getElementById('alphaValue').textContent = presets[selectedPreset].background_alpha;
                    }
                });
            }
        });
    </script>

</head>
<body>
<!-- Spinner Overlay -->
<div id="spinner-overlay"
     style="display:none; position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(255,255,255,0.9); z-index:1000;">
    <div class="spinner" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
        <i class="fas fa-spinner fa-spin" style="font-size:3rem; color: #09f;"></i>
    </div>
</div>

<div class="container">
    <h1>Terminübersicht</h1>
    <h2>{{ base_url }}</h2>
    <a href="/" class="btn btn-back">Zurück</a>

    <!-- Form to fetch appointments -->
    <form method="POST">
        <!-- Calendars selection -->
        <div class="calendars-container">
            {% for calendar in calendars %}
                <div class="calendar-item">
                    <input type="checkbox" id="calendar-{{ calendar['id'] }}"
                           name="calendar_ids" value="{{ calendar['id'] }}"
                           class="calendar-checkbox"
                            {% if calendar['id']|string in selected_calendar_ids %} checked {% endif %}>
                    <label for="calendar-{{ calendar['id'] }}" class="calendar-label">
                        {{ calendar['name'] }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <!-- Date selection -->
        <label for="start_date">Startdatum:</label>
        <input type="text" id="start_date" name="start_date"
               value="{{ start_date }}" required>

        <label for="end_date">Enddatum:</label>
        <input type="text" id="end_date" name="end_date"
               value="{{ end_date }}" required>

        <!-- Submit button for fetching appointments -->
        <input type="submit" name="fetch_appointments"
               value="Termine abholen" class="btn btn-fetch">
    </form>
    {% if appointments %}
        <form method="POST" enctype="multipart/form-data">
            <div class="appointments-actions">
                <button type="button" id="selectAllAppointments" class="select-all-btn">Alle auswählen</button>
                <button type="button" id="deselectAllAppointments" class="deselect-all-btn">Alle abwählen</button>
            </div>
            <div class="appointments-container">
                {% for appointment in appointments %}
                    <div class="appointment-item">
                        <input type="checkbox" id="appointment-{{ appointment['id'] }}" name="appointment_id"
                               value="{{ appointment['id'] }}" class="appointment-checkbox" checked>
                        <label for="appointment-{{ appointment['id'] }}" class="appointment-label">
                            {{ appointment['startDateView'] }}
                            ({{ appointment['startTimeView'] }}-{{ appointment['endTimeView'] }})
                            <br/>{{ appointment['description'] }}
                        </label>
                        <textarea name="additional_info_{{ appointment['id'] }}"
                                  placeholder="Zusätzliche Informationen">{{ appointment['additional_info'] | default('') }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="color-picker-container">
                <div style="display: none;">
                    <label for="color_presets">Farbvoreinstellungen:</label>
                    <select id="color_presets" name="color_presets">
                        <option value="preset1">Herbst '23</option>
                    </select>
                    <button type="button" id="applyPreset">Anwenden</button>
                </div>
                <div>
                    <label for="background_image">Hintergrundbild:</label>
                    <input type="file" id="background_image" name="background_image" accept="image/*">
                </div>
                <div>
                    <label for="date_color">Datum:</label>
                    <input type="color" id="date_color" name="date_color" value="{{ color_settings['date_color'] }}">
                </div>
                <div>
                    <label for="description_color">Beschreibung:</label>
                    <input type="color" id="description_color" name="description_color" value="{{ color_settings['description_color'] }}">
                </div>
                <div>
                    <label for="background_color">Hintergrund:</label>
                    <input type="color" id="background_color" name="background_color" value="{{ color_settings['background_color'] }}">
                </div>
                <div>
                    <label for="alpha">Transparenz:</label>
                    <input type="range" id="alpha" name="alpha" min="0" max="255" step="1" value="{{ color_settings['background_alpha'] }}" oninput="document.getElementById('alphaValue').textContent = this.value">
                    <span id="alphaValue">{{ color_settings['background_alpha'] }}</span>
                </div>
            </div>

            <div style="display: flex; gap: 10px;">
                <input type="submit" name="generate_pdf" value="PDF Generieren" class="btn btn-generate"
                       style="display: inline-block;">
                <input type="submit" name="generate_jpeg" value="JPEG generieren" class="btn btn-generate"
                       style="display: inline-block;">
            </div>
        </form>
    {% else %}
        <p>Keine Termine vorhanden.</p>
    {% endif %}
</div>
<footer>
    <p>Version: {{ version }}</p>
</footer>
</body>
</html>
