<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Overview</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/prefixed.css">
    <link rel="stylesheet" href="/static/css/cross-browser.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/overview.css">
</head>
<body>
<div class="container">
    <h1>API-Zugriff</h1>
    <h2>{{ base_url }}</h2>
    <div class="tiles-container">
        <a href="/appointments" class="tile">Terminübersicht</a>
        <!-- Additional tiles can be added here -->
    </div>
    <form action="/logout" method="post" class="btn-logout-container">
        <input type="submit" value="Logout" class="btn btn-logout">
    </form>
</div>
<footer>
    <p>Version: {{ version }}</p>
</footer>
</body>
</html>
